*.sw?
.#*
*#
*~
.classpath
.project
.settings
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
.idea
*.iml
README.html
node_modules
/AND-BR-SNT-MOBILE-FRAMEWORK
/AND-BR-SNT-PAGTO-PARCLT-FATURA

# OS-specific files
.DS_Store
../.DS_Store
*/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

sabaum-application.properties
dev-tools/gradle*

local.properties

app/*.apk
app/*.zip
distribution
*.log
/captures
distribution
